---
// import Tag from "../../components/Tag.astro";

import { db } from "astro:db";
import { getConcordancer } from "../data";
import Layout from "../layouts/Layout.astro";
const { id } = Astro.params;
if (!id) {
  Astro.response.status = 400;
  Astro.response.statusText = "Corpus ID is required";
}

const c = await getConcordancer(db, id!);
if (!c) {
  Astro.response.status = 404;
  Astro.response.statusText = "Corpus not found";
}
const concordancer = c!;
---

<Layout title={`Concordance: ${concordancer.name.en}`}>
  <main class="dark:text-cyan-200 text-cyan-800
   w-full max-w-2xl mx-auto p-4">
    <h1>
      <a href={concordancer.link}>
        {
          Object.entries(concordancer.name).map(([lang, name]) => (
            <span lang={lang}>{name} </span>
          ))
        }
      </a>
    </h1>
    <p>{concordancer.lang}</p>

    <!-- <div
      class="tags"
    >
      {concordancer.tags.map(
        tag => (
          <Tag>{tag}</Tag>
        )
      )}
    </div>
     -->
    <p>{concordancer.author.abbr}</p>

    <a class="visit" href={concordancer.link}
      >Visit Concordancer Official Website</a
    >

    <h2>Corpora</h2>
    <ul>
      {
        concordancer.corpora.map((corpus) => (
          <li>
            <a href={`/corpora/${corpus}`}>{corpus}</a>
            {/* TODO: Add corpus card */}
          </li>
        ))
      }
    </ul>
  </main>
</Layout>

<style>
  h1 {
    margin-bottom: 0;
  }
  p {
    margin-top: 0;
  }
  .visit {
    display: block;
    margin-top: 1em;
    padding: 0.5em;
    border-radius: 0.5em;
    text-align: center;
    border: 1px solid #ccc;
  }

  .tags {
    @apply flex flex-wrap gap-2;
  }
</style>
